.questions-list {
	position: relative;
	width: 40%;
	min-width: 330px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.questions-list .warn {
	text-align: center;
	margin: 10px 0;
}

.questions-list .questions {
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
}

.questions-list .add-question {
	display: inline-flex;
	align-self: center;
}